
@import "tailwindcss";
html, body, #root {
    height: 100%;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    scroll-behavior: smooth;

}

/*252828,40b6f0,f2fafe*/

@theme{
    --color-highloght:#252828;
    --color-red:#ff0000;
    --color-redDark:#ff0000;
}

.bg-fixed-custom {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
